@font-face {
    font-family: 'coucool';
    src: url('font.ttf');
}

html, body {
    height: 100%;
    width: 100%;
    font-family: coucool, Josefin, arial, sans-serif;
    letter-spacing: 2px;
    margin: 0;
    padding: 0;
    background: url('./images/background.jpg') 100% fixed;
}

body > .fixed {
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
    z-index: 2;
    pointer-events: none;
}

header {
    background-image: url('./images/background.jpg');
    background-size: cover;
    overflow: hidden;
    flex: 0 1 auto;
    z-index: 2;
    pointer-events: all;
    padding: 0 20px;
}

header .flex {
    display: flex;
    color: whitesmoke;
    align-items: baseline;
}

header .flex h1 {
    font-size: 1.8em;
    margin: 10px 0;
    font-weight: normal;
}

#coucool {
    flex: 1;
    min-width: 320px;
    cursor: pointer;
}

#language {
    font-weight: normal;
    font-size: 1em;
    text-align: right;
}

header nav {
    display: flex;
    text-align: center;
}

nav h2 {
    flex: 1 0 0;
    padding: 10px 10px;
    color: whitesmoke;
    border-right: whitesmoke solid 1px;
    margin: 0;
    font-weight: normal;
    cursor: pointer;
    transition: text-shadow 200ms linear;
    font-size: 1.2em;
}

nav h2:last-child {
    border-right: none;
}

nav h2.active {
    text-shadow: 0 0 10px white;
}

footer {
    display: flex;
    color: white;
}

footer div {
    margin: 10px;
}

footer div:first-child {
    flex: 1;
}

#artwork {
    width: 100%;
    position: relative;
    flex: 1 0 auto;
    z-index: 1;
}

#artwork img {
    position: absolute;
}

#chevron {
    width: 100%;
    text-align: center;
    color:whitesmoke;
    font-size: 2em;
}

#main {
    text-align: center;
    width: 100%;
    z-index: 1;
}

section {
    padding: 0 20px;
    color: white;
    opacity: 0;
}

section.invisible {
    display:none;
}

.spacer {
    height: 150px;
    width: 100%;
}

#eros .strophe {
    margin: 15px 0;
}

#eros p {
    margin: 0;
    line-height: 1.4em;
}

p {
    color: whitesmoke;
    font-size: large;
    line-height: 1.5em;
}

.flex-row {
    display: flex;
    text-align: left;
    flex-wrap: wrap;
    justify-content: space-around;
}

h4, ul {
    margin: 10px 0;
}

ul {
    padding-left: 30px;
}

li {
    margin: 10px 0;
}

.flex-row > div {
    margin: 20px;
    flex: 1 0 300px;
}

#weezevent {
    flex: 0 1 900px;
}

#curiosites {
    padding-bottom: 400px;
}
