html, body {
    height: 100%;
    font-family: arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    position: fixed;
    z-index: 10;
    top: 0;
    width: 100%;
    background-color: white;
}

header .flex {
    display: flex;
    margin: 0 20px;
}


header .flex h1 {
    flex: 1;
}

#language {
    margin: auto;
    font-weight: bold;
    font-size: larger;
}

header nav {
    display: flex;
    text-align: center;
    background: #ea5b59;
}

nav div {
    flex: 1;
    font-size: xx-large;
    padding: 15px;
    color: white;
    border: white solid 1px;
}

#main {
    text-align: center;
    padding-top: 1200px;
}

#main section {
    width: 1000px;
    margin: auto;
    margin-bottom: 1000px;
}

#main p {
    font-size: x-large;
    margin: 20px;
    padding: 0;
}

#main p:last-child {
    background-color: lightblue;
    padding: 40px;
    margin-top: 60px;
}

#artwork {
    top: 150px;
    position: fixed;
    width: 100%;
    height: 100%;
}

#artwork img {
    position: absolute;
}

#rectangle-jaune {
    top: 703px;
}

#cercle-central {
    top: 101px;
    left: 931px;
    z-index: 3;
}

#pilule {
    top: 538px;
    left: 759px;
    z-index: 4;
}

#demi-cercle-haut {
    left: 1200px;
    z-index: 4;
}

#rectangle-centre {
    top: 440px;
    left: 580px;
    z-index: 2;
}

#rectangle-orange {
    top: 47px;
    left: 1174px;
    z-index: 5;
}

#rectangle-cuir {
    top: 746px;
    left: 1282px;
    z-index: 3;
}

#rectangle-bicolore {
    top: 617px;
    left: 540px;
    z-index: 2;
}

#rc-rb {
    position: absolute;
}
