@font-face {
    font-family: 'coucool';
    src: url('./fonts/JosefinSans-Regular.ttf');
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    position: fixed;
    z-index: 2;
}

body {
    font-family: coucool, Josefin, arial, sans-serif;
    color: whitesmoke;
    text-shadow: 1px 1px 1px rgb(147, 159, 137);
}

footer, #date, footer a {
    color: whitesmoke;
}

html:lang(en) .fr {
    display: none !important;
}

html:lang(fr) .en {
    display: none !important;
}

/*STRUCTURE*/

#container {
    height: 100%;
    width: 100%;
    visibility: hidden;
    display: flex;
    flex-flow: column;
    background-image: url('./images/frame.jpg');
    background-size: 100% 100%;
}

#container.visible {
    visibility: visible;
}

.visible #credit {
    opacity: 1;
    transition: opacity 1000ms 0ms linear;
}

.visible.loading #credit {
    transition-delay: 1000ms;
}

.text {
    opacity: 0;
    transition: opacity 500ms linear;
}

.loaded .text {
    opacity: 1;
}

.visible section.text {
    opacity: 0;
    transition: none;
}

.text.visible {
    opacity: 1;
}

.loaded .hidden {
    opacity: 0;
    transition-duration: 0ms !important;
    transition-delay: 0ms !important;
}

.visible #credit.hidden {
    opacity: 0;
    transition-duration: 0ms;
    transition-delay: 0ms;
}

#credit {
    opacity: 0;
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#chevron.blink {
    animation: blink 2000ms 1000ms linear;
}

.loading #chevron.blink {
    transition: opacity 1000ms 500ms linear;
    animation: blink 2000ms linear infinite;
    animation-delay: 1500ms;
}

.loaded #chevron {
    transition: opacity 1000ms linear;
}

#coucool {
    flex: 1 0 auto;
    line-height: 25px;
    padding-top: 4px;
}

#language {
    text-align: right;
}

#language span {
    text-decoration: underline;
    cursor: pointer;
}

footer {
    bottom: 0;
    display: flex;
    line-height: 40px;
    font-size: 16px;
}

nav {
    display: flex;
    text-align: center;
    line-height: 35px;
}

footer div {
    flex: 1 0 auto;
}

#artworkAndContent {
    position: relative;
    flex: 1 0 auto;
    z-index: 1;
    background-image: url('./images/background.jpg');
    background-size: cover;
    margin-top: 0;
    margin-bottom:0;
}

nav, #artworkAndContent, footer {
    margin-left: 35px;
    margin-right:35px;
}

area {
    cursor: pointer;
}

#artwork {
    text-shadow: 1px 1px 1px rgba(60, 100, 160, 0.8);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
    z-index: 2;
}

#artwork > div {
    position: absolute;
}

#artwork.portrait > div {
    transform: rotate(-90deg);
    bottom: 0;
}

#artwork.portrait .overlay span {
    transform: translateY(-50%) translateX(-50%) rotate(90deg);
}

#artwork .overlay {
    display: none;
}

#artwork.curiosites .overlay {
    display: block;
}

#artwork .overlay span {
    transform: translateY(-50%) translateX(-50%);
    position: absolute;
    pointer-events: none;
    top: 50%;
    left: 50%;
    font-size: 20px;
}

#artwork .overlay {
    text-align: center;
    position: absolute;
    pointer-events: none;
    z-index: 1;
    opacity: 0;
}

#artwork #wood-triangle_overlay span {
    top: 70%;
    left: 40%;
}

#chevron {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    height: 40px;

    background-image: url('./images/chevron.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50px;
}

.example {
    list-style-type: disc;
}

#credit {
    display:flex;
    position: absolute;
    right: 10px;
    bottom: 10px;
    color: rgb(134, 149, 123);
    text-align: right;
    z-index: 3;
    transition: opacity 500ms linear;
}

#credit a {
    color: rgb(134, 149, 123);
}

#credit.hidden {
    transition-delay: 0ms;
}

.hidden {
    opacity: 0;
}

#main {
    text-shadow: 1px 1px 1px rgba(60, 100, 160, 0.8);
    position: absolute;
    z-index:3;
    font-size: 20px;
    top: 20px;
    bottom: 20px;
    text-align: center;
    -ms-overflow-style: none;
    -webkit-overflow-scrolling: touch;
    overflow-scrolling: touch;
    overflow-y: scroll; /* has to be scroll, not auto */
    overflow-x: hidden;
    width: 100%;
}

#main::-webkit-scrollbar {
    display: none;
}

#main.no-scroll {
    overflow: hidden;
}

#artwork img {
    position: absolute;
}

section {
    height: 100%;
    display: none;
    padding: 0 20px;
}

section.active {
    display: block;
    opacity: 0;
}

.content-container {
    max-width: 750px;
    margin: auto;
    padding: 0 20px;
}


/*HELPER*/

.transparent-green {
    color: #93a69b;
    text-shadow: none;
}


/*TEXT TAG*/

h1 {
    font-size: 25px;
    margin: 10px 0;
    cursor: pointer;
}

h2 {
    position: relative;
    flex: 1 0 50px;
    margin: 0;
    padding-top: 5px;
    font-size: 20px;
}

h2 img {
    position: absolute;
    height: 2px;
    top: 53%;
    width: 100px;
    opacity: 0;
    transition: opacity 500ms linear;
}

h2.active img {
    opacity: 1;
}

.link {
    text-decoration: underline;
}

.link, h2 {
    cursor: pointer;
}

h2.active {
    text-decoration-color: #cd6152
}

.strophe p {
    margin: 0;
}

p {
    line-height: 1.5em;
    text-align: justify;
    margin: 0px auto 10px auto;
}

a {
    color: whitesmoke; /*rgb(66, 68, 66);*/
    text-decoration: underline;
}

li {
    list-style-type: none; /* TODO: ⇀ should be transformed in a picture and used as a list style */
    margin: 10px 0;
}

li::before {
    content:"⇀";
    margin-right: 12px;
}

/* SECTIONS SPECIFICITIES*/

#definitions p {
    margin-bottom: 30px;
}


#eros .strophe {
    margin: 15px 0;
}


#contributions .content-container {
    height:100%;
}

.contribution-page {
    position: absolute;
    height: 100%;
    left: 0;
    right: 0;
    display: none;
}

.contribution-page:first-child {
    display: flex;
}

.contribution-page-content {
    margin: 0 20px 50px 20px;
}

.contribution-page-container {
    margin:auto;
    max-width: 750px;
}

.yes, .no, .mer-noire, .kamoulox {
    width: 100px;
    height: 100px;
    display: flex;
    cursor: pointer;
    margin: auto;
    background-size: contain;
    background-repeat: no-repeat;
}

.yes div,.no div,.mer-noire div, .kamoulox div {
    margin: auto;
}

.no.non-clickable {
    cursor: inherit;
    background-image: url('./images/composition/feather-circle.png');
}

.yes {
    background-image: url('./images/composition/green-circle.png');
}

.mer-noire {
    background-image: url('./images/composition/palm-tree.png');
    background-position: center;
}

.kamoulox {
    background-image: url('./images/composition/blue-hair.png');
}

.mer-noire a, .kamoulox a {
    text-decoration: none;
}

.link.no {
    background-image: url('./images/composition/feather-circle.png');
    text-decoration: none;
}

#weezevent {
    display: none;
}

.weezevent-visible #weezevent {
    display: block;
}

.flex-row {
    display: flex;
    text-align: left;
    flex-wrap: wrap;
    justify-content: space-around;
}

.flex-row > div {
    margin: 15px 25px;
    flex: 1 0 300px;
    max-width: 100%;
}

.flex-row > div:last-child {
    max-width: 600px;
}

.invisible {
    opacity: 0;
}

#ethos div {
    padding-bottom: 10px;
}

#ethos ul {
    padding-left: 0px;
}

#ethos p {
    max-width: 750px;
    margin: 0px auto 10px auto;
}

.accordion {
    margin: 20px auto 20px auto;
    border: solid 3px whitesmoke;
    max-width: 750px;
    padding: 30px 20px 20px 20px;
}

.accordion div {
    text-align: left;
}

.accordion-item-content {
    height: 0;
    margin: 0 20px;
    overflow: hidden;
}

.accordion-item h4::before {
    content: '+';
    margin-right: 10px;
}

.accordion-item:hover h4::before {
    content: '-';
    margin-right: 10px;
}

#solidaire h4 {
    text-align: left;
}

h4, ul {
    margin: 10px 0;
}

ul {
    padding: 0 10px;
}

#weezevent {
    width: 100%;
    margin: 0;
}

.tagline, footer .date {
    text-align: left;
}

footer .date {
    display: none;
}

@media (max-width: 740px) {
    .tagline, #date {
        display: none;
    }

    footer .date {
        display: block;
    }
}


@media (max-width: 640px) {
    p, h2, h3, h4, section {
        font-size: 19px;
    }

    p {
        text-align: justify;
    }

    h2:last-child {
        display: none;
    }

    h2.ethos {
        order: -1;
    }

    nav, #artworkAndContent, footer {
        margin-left: 15px;
        margin-right:15px;
    }

    #contributions {
        padding: 0;
    }

    #contributions .content-container{
        padding: 0;
    }

    #contributions p {
        padding: 0px;
    }

    #artworkAndContent {
        background-size: contain;
    }

    .flex-row > div {
        width: 100%;
    }

    #credit {
        display:block;
        width:110px;
    }

    #credit div {
        width: 110px;
    }

    section {
        padding: 0;
    }

    .content-container {
        padding: 0 10px;
    }

    .accordion {
        padding: 10px;
        border-width: 2px;
    }

    .accordion-item-content {
        margin: 0 10px;
    }
}

@media (max-width: 380px) {
    p, h2, h3, h4, section, footer {
        font-size: 15px;
    }
}

#loader {
    position: absolute;
    top: calc(50% - 150px);
    left: calc(50% - 150px);
    animation: loader 3s ease-in-out infinite alternate;
    z-index: 3;
}

@keyframes loader {
    0% {
        transform: scale(0);
    }

    90% {
        transform: scale(1.3);
    }

    100% {
        transform: scale(1.3);
    }
}

#loader circle {
    fill: #e17533;
}

#loader.exit {
    opacity: 0;
    transition: opacity 1s;
}
